body button,
input,
optgroup,
select,
textarea,
ul,
ol {
  font-family: "Kanit";
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.list-categories .list-group-item-action:not(.header).active {
  color: #55595c;
  background-color: #f7f7f9;
  border-color: rgba(0, 0, 0, 0.125);
}

.shop-listing ol.breadcrumb {
  padding: 0;
  margin: 0;
}

.shop-item-listing .shop-item {
  margin-bottom: 1.5rem;
}
.shop-item-listing .shop-item img {
  width: 100%;
}
